@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Exo:wght@400;700&family=Fauna+One&display=swap');

*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style Guide */

:root {
  --sky: #95BEF2;
  --tan: #CA7667;
  --coin: #F29A16;
  --ocean: #29257B;
  --tar: #211915;
}

body {
  font-family: 'Fauna One', serif;
}

h1 {
  color: var(--ocean);
  font-family: 'Cinzel', serif;
  font-weight:600;
  font-size:3.8em;
  line-height:1em;
}

h2 {
  color: var(--ocean);
  font-family: 'Cinzel', serif;
  font-weight:600;
  font-size:3em;
  line-height:1em;
}

h3 {
  color: var(--ocean);
  font-family: 'Cinzel', serif;
  font-weight:600;
  font-size:2em;
  line-height:1em;
}

h4 {
  color:var(--sky);
  font-size:1.3em;
  margin-top:.5em;
  line-height:1.2em;
}

h5 {
  color: var(--ocean);
  font-size:1.5em;
  line-height:0;
}

p {
  color:var(--tar);
  font-size:1em;
  margin-top:2em;
  margin-bottom:1em;
  line-height:1.5em;
}

button {
  padding: 5px 40px;
  border-radius: 25px;
  border: solid var(--coin) 4px;
  background:transparent;
  color: var(--coin);
  font-family: 'Exo', sans-serif;
  font-weight:bold;
  letter-spacing:1px;
  font-size: 1em;
  cursor: pointer;
  margin-top:1em;
}

button:hover {
  background: var(--coin);
  color:white;
  transition-duration:.2s;
}

a {
  text-decoration:none;
}

/* WELCOME TO MOBILE */

.logo img {
  height: fit;
  width: 240px;
  margin-top:1%;
}

/* Navigation */

.navigation {
  background:white;
  text-align:center;
  padding: 1em;
  position: sticky;
  width:100%;
  top:0;
  z-index:999;
  padding-left:20%;
  padding-right:20%;
}

.nav-toggle {
  display:none;
}

.nav-toggle-label {
  position:absolute;
  top:0;
  left:0;
  margin-left:2em;
  height:100%;
  display:flex;
  align-items:center;
}

.nav-toggle-label span {
  color:var(--ocean);
  font-size:2em;
  cursor: pointer;
}

nav {
  position:absolute;
  text-align:left;
  top:100%;
  left:0;
  background:white;
  width:100%;
  transform: scale(1,0);
  transition: transform 400ms ease-in-out;
  transform-origin:top;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom:1em;
  margin-left:1em;
  margin-top:1em;
}

nav a {
  color:var(--ocean);
  text-decoration:none;
  font-size:1.1em;
  opacity:0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color:var(--tan);
}

.nav-toggle:checked ~nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~nav a {
  opacity:1;
  transition: opacity 250ms ease-in-out 200ms;
}

.navigation button {
  display:none;
  margin-top:0;
}

/* Hero */

.hero {
  height:80vh;
  background-image: url(images/mobile-hero-dock.jpg);
  background-size:cover;
  background-position:top;
}

.hero-text {
  padding-top:8em;
  text-align:center;
}

.hero-text button {
  margin:.5em;
  margin-top:2em;
}

span {
  color:var(--tan);
}

/* Website Body */

.content {
  padding: 0 10%;
}

/* Welcome */

.welcome {
  margin-top:4em;
}

.weather {
  display:flex;
}

.weather img {
  margin-right:1em;
  padding-top:1em;
}

.transparent-card {
  height: 500px;
}

.transparent-card img {
  object-fit:cover;
  width:100%;
  height:100%;
  padding-bottom:4em;
}

/* Your Quest */

.video-introduction .text-card {
  margin-bottom:4em;
  padding: 0 10%;
}

.video-card {
  padding-top:4em;
  padding: 0 10%;
}

.video-introduction .background-shape {
  background: url(images/bg-shape-medium.svg);
  background-repeat: no-repeat;
  background-position:0% 0%;
  background-size: 65%;
  height: 450px;
}

/* Event Agenda */

.event-agenda {
  display:block;
  margin-bottom:2em;
}  

.event-agenda h2 {
  text-align:center;
  margin-bottom:0.8em;
}

.card {
  text-align:center;
  margin: 0 auto;
  margin-bottom:4em;
}
  
.card img {
  height: fit;
  width: 100%;
  border-radius:10px;
  margin-bottom:1.8em;
}

.card p {
  text-align:left;
}

/* Our Navigator */

.app {
  padding-top:1em;
  margin-bottom:5em;
}

.app .text-card {
  padding: 0 10%;
  margin-top:1em;
}

.navigator-button {
  text-align:center;
}

.app .transparent-card {
  height:600px;
  padding: 0 10%;
}

.app .background-shape {
  background: url(images/bg-shape-large.svg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: 120%;
  height: 600px;
}

.app-cards {
  margin-bottom:2em;
}

/* Register Today */

.banner-text {
  text-align:center;
  margin: 0 auto;
  padding:6em 10% 6em 10%;
  background-image: url(images/dark-ocean-banner.jpg);
  background-size:cover;
  margin-bottom:4em;
}

.banner-text span { 
  color:white;
}

/* Chart Your Course */

.final-sell .text-card {
  padding-bottom:2em;
}

.image-grid {
  display:grid;
  grid-template-columns: repeat(2, auto);
  gap:1.2em;
  grid-auto-rows:minmax(100px,auto);
  margin-bottom:4.5em;
}

.image-grid > div {
  padding:1em;
  border-radius:10px;
  background-size:cover;
  background-repeat: no-repeat;
}

.grid-spread {
  grid-column: 1/3;
  height:300px;
  width:auto;
  background-image: url(images/old-city-street.jpg);
  background-position:right;
}

.grid-left {
  height:300px;
  background-image: url(images/exploring-woman.jpg);
}

.grid-right {
  height:300px;
  background-image: url(images/pirate-coin.jpg);
  background-position:center;
}

/* Stay In The Loop */

.email-list .banner-text {
  padding-bottom:5em;
  background-image: url(images/light-sky-banner.jpg);
  margin-bottom:0;
}

.form {
  padding:1em;
  padding-top:2em;
}

input {
  width:70%;
  border: 0;
  padding:1em;
  margin-right:-0.5em;
}

::placeholder {
  font-size:1.2em;
}

#submit {
  padding:.75em;
  padding-top:.6em;
  border:0 none;
  cursor:pointer;
  border-radius: 0;
  background:var(--coin);
  color:white;
}

#submit:hover {
  background:#E96F2B;
}

/* Footer */

.footer {
  background: var(--ocean);
  text-align:center;
  padding:3em;
}

.footer-logo {
  padding-bottom:1.5em;
  padding-top:1em;
}

.footer-nav ul {
  display:flex;
  list-style: none;
  justify-content:center;
}

.footer-nav li {
  margin-left:1em;
  margin-right:1em;
  padding-bottom:1.5em;
}

.footer a {
  text-decoration:none;
  color:white;
}

.footer-nav a:hover {
  color:var(--sky);
}

.footer-social img {
  padding: 1em .5em 1em .5em;
  height: 75px;
}

.footer-social img:hover {
  transform: scale(108%);
  transition: transform 200ms ease-in-out;
  cursor:pointer;
}

.footer-contact p {
  color:white;
  font-size:.85em;
}

/* FAQ */

.question-card {
  margin-bottom:4em;
}

.question-card img {
  height: 60px;
  width: 60px;
  margin-left: -0.75em;
  margin-bottom: 0.75em;
}

.question-card h4 {
  color: var(--ocean);
}

.faq-images img {
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom:2em;
}

.faq-images {
  margin-bottom:2em;
}

/* Team Select */

.team-selection {
  background-image: url(images/light-sky-background.png);
  padding-bottom:4em;
}

.team-selection .content {
  text-align:center;
  padding-top:6em;
}

.team-card {
  margin: 0 auto;
  margin-bottom:4em;
  margin-top:6em;
  padding:40px;
  background:white;
  border-radius:10px;
  width:80%;
}

.team-card img {
  display:block;
  margin: auto;
}

.team-card button {
  display:block;
  margin: auto;
  margin-top:2em;
}

.team-card:hover {
  transform: scale(102%);
  transition: .2s ease-in-out;
}

/* Tickets */



/* WELCOME TO DESKTOP */

@media screen and (min-width: 900px) {
  
  h1 {
    font-size:6em;
  }

  h2 {
    font-size:4em;
  }

  h4 {
    font-size:1.5em;
  }

  p {
    font-size:.9em;
  }
  
  .nav-toggle-label {
    display:none;
  }
  
  .navigation {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-left:5%;
    padding-right:5%;
  }
  
  .navigation button {
    display:initial;
  }
  
  nav {
    all:unset;
  }
  
  nav ul {
    display:flex;
  }
  
  nav li {
    margin-right:1.4em;
  }
  
  nav a {
    opacity:1;
    position:relative;
  }

  .hero {
    height:95vh;
    background-image: url(images/hero-dock.jpg);
    background-position:70%;
  }

  .hero-text {
    width:55%;
    padding-top:10em;
    padding-left:10%;
    text-align:left;
  }

  .welcome {
    display:flex;
    margin-top:3em;
    margin-bottom:3em;
  }

  .welcome .text-card {
    padding:5em;
    background-image: url(images/icon-ship-wheel.svg);
    background-repeat: no-repeat;
    background-position: 0% 14%;
    background-size: 10.5%;
  }

  .text-card {
    width:65%;
  }
  
  .transparent-card {
    margin-top:3em;
  }

  .video-introduction {
    display:flex;
    flex-direction:row-reverse;
    gap:45px;
    margin-bottom:3em;
  }

  .video-card {
    padding: 0 30%;
  }

  .video-introduction .background-shape {
    background-size:70%;
  }

  .video-introduction .text-card {
    width:65%;
  }

  iframe {
    width:500px;
    height:335px;
  }

  .agenda-cards {
    display:flex;
    margin: 0 auto;
  }

  .card {
    width:30%;
    text-align:left;
  }

  .card-button {
    text-align:center;
  }

  .app {
    display:flex;
    flex-direction:row-reverse;
  }

  .app .text-card {
    padding: 0 15%;
    margin-top:4em;
    background-image: url(images/icon-x-treasure.svg);
    background-repeat: no-repeat;
    background-position: 18% -1%;
    background-size: 8%;
  }

  .app .transparent-card {
    width:500px;
    margin-right:6em;
  }

  .app .background-shape {
    background-size:100%;
    width:620px;
  }

  .navigator-button {
    text-align:left;
  }

  .app-cards {
    display:flex;
    padding: 0 4.5%;
    margin-bottom:3em;
  }

  .banner-text {
    padding:7em 25% 7em 25%;
  }

  .final-sell {
    display:flex;
    gap:50px;
  }

  .final-sell .image-grid {
    width:60%;
    margin-top:3em;
    margin-bottom:5em;
  }

  .final-sell .text-card {
    width:40%;
    margin-top:9em;
  }

  .image-grid {
    gap:2em;
  }

  .footer {
    padding-left:5em;
    padding-top:4em;
    text-align:left;
    display:grid;
    grid-template-columns: repeat(3, auto);
    gap:1em 1em 0.75em;
    grid-auto-rows:minmax(100px,auto);
  }

  .footer-nav ul {
    padding-top:1.75em;
    padding-left:5em;
  }

  .footer-social {
    margin-left:9.5em;
  }

  .footer-contact {
    grid-column: 3/4;
    text-align:right;
    padding-right:3em;
  }

  .banner-emphasis {
    font-size:1.2em;
  }
  
  .faq-cards {
    display:grid;
    grid-template-columns: repeat(3, auto);
    gap:3.75em;
  }

  .question-card {
    margin-bottom:0.25em;
  }
  
  .faq-images {
    margin-top:3em;
    display:flex;
    gap:2em;
  }

  .team-card-options {
    display:flex;
    justify-content:center;
  }

  .team-card {
    width:30%;
    margin: 4em 4em;
  }

}